In [2]:
import pandas as pd

In [3]:
en = pd.read_json('data/energy.json')
en

               x          y       date  energy_delta
0      51.305575  16.841862 2019-04-18    347.339571
1      51.045951  16.902048 2019-03-08     72.382511
2      51.051023  16.885317 2019-08-29    342.302280
3      51.097895  17.041758 2019-07-06    282.499952
4      51.190952  17.147227 2019-06-14     30.896870
...          ...        ...        ...           ...
99995  51.135289  17.116648 2019-04-03   -213.332272
99996  51.113012  16.907707 2019-01-15     40.118074
99997  51.250300  17.224379 2019-10-02    114.895568
99998  51.220725  16.691751 2019-01-11    614.536269
99999  51.040705  16.863793 2019-09-10  -1051.857476

[100000 rows x 4 columns]

In [4]:
# locations = en[['x', 'y']] 
# locations

# weights = en['energy_delta']
# weights

#

               x          y
0      51.305575  16.841862
1      51.045951  16.902048
2      51.051023  16.885317
3      51.097895  17.041758
4      51.190952  17.147227
...          ...        ...
99995  51.135289  17.116648
99996  51.113012  16.907707
99997  51.250300  17.224379
99998  51.220725  16.691751
99999  51.040705  16.863793

[100000 rows x 2 columns]

In [7]:
locations = en[['y', 'y', 'energy_delta']]
locations

               y          y  energy_delta
0      16.841862  16.841862    347.339571
1      16.902048  16.902048     72.382511
2      16.885317  16.885317    342.302280
3      17.041758  17.041758    282.499952
4      17.147227  17.147227     30.896870
...          ...        ...           ...
99995  17.116648  17.116648   -213.332272
99996  16.907707  16.907707     40.118074
99997  17.224379  17.224379    114.895568
99998  16.691751  16.691751    614.536269
99999  16.863793  16.863793  -1051.857476

[100000 rows x 3 columns]

In [9]:
locations.to_numpy()

array([[   16.84186214,    16.84186214,   347.3395709 ],
       [   16.9020484 ,    16.9020484 ,    72.3825107 ],
       [   16.88531706,    16.88531706,   342.30228002],
       ...,
       [   17.22437878,    17.22437878,   114.8955681 ],
       [   16.69175136,    16.69175136,   614.53626887],
       [   16.86379331,    16.86379331, -1051.85747606]])