In [42]:
import pandas as pd
import numpy as np

In [43]:
en = pd.read_json('data/data.json')
en

               x          y       date  energy_delta  population     traffic
0      51.136027  16.981590 2019-08-20    483.227511        33.5  105.480357
1      51.152746  17.086915 2019-06-30    425.025310        29.6   53.992526
2      51.161598  17.093712 2019-07-29    352.860324        29.6   65.381921
3      51.057650  16.984109 2019-05-20    149.377661        19.9   78.341479
4      51.135540  17.133699 2019-05-31   -117.714194        29.6   65.388613
...          ...        ...        ...           ...         ...         ...
99995  51.160787  16.924699 2019-01-24  -1272.424285        33.5   88.518312
99996  51.156079  17.129023 2019-03-30  -1119.062505        29.6   71.552822
99997  51.141183  17.042097 2019-07-12    491.084854        34.6   99.595438
99998  51.124121  16.900435 2019-01-18      9.014678        33.5   82.258003
99999  51.150519  16.960285 2019-10-15   -531.044435        33.5   99.222730

[100000 rows x 6 columns]

In [44]:
en.describe()

,x,y,energy_delta,population,traffic
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,51.129344,17.001565,-1.058550,28.488598,80.480637
std,0.036141,0.097298,485.355643,7.432355,18.535032
min,50.891361,16.557141,-2749.132994,0.500000,6.144192
25%,51.112449,16.939732,-299.564037,28.100000,68.067050
50%,51.134256,17.002972,127.527890,29.600000,82.348013
75%,51.151529,17.074715,348.381780,33.500000,94.712551
max,51.309979,17.407057,1843.409713,34.600000,125.777179

In [45]:
# locations = en[['x', 'y']] 
# locations

# weights = en['energy_delta']
# weights

#

In [46]:
locations = en[['y', 'y', 'energy_delta']]
locations

               y          y  energy_delta
0      16.981590  16.981590    483.227511
1      17.086915  17.086915    425.025310
2      17.093712  17.093712    352.860324
3      16.984109  16.984109    149.377661
4      17.133699  17.133699   -117.714194
...          ...        ...           ...
99995  16.924699  16.924699  -1272.424285
99996  17.129023  17.129023  -1119.062505
99997  17.042097  17.042097    491.084854
99998  16.900435  16.900435      9.014678
99999  16.960285  16.960285   -531.044435

[100000 rows x 3 columns]

In [47]:
locations.to_numpy()

array([[  16.98158991,   16.98158991,  483.22751112],
       [  17.08691546,   17.08691546,  425.02530969],
       [  17.09371156,   17.09371156,  352.86032427],
       ...,
       [  17.04209713,   17.04209713,  491.08485447],
       [  16.90043499,   16.90043499,    9.01467822],
       [  16.96028538,   16.96028538, -531.04443545]])

In [48]:
en_plus = en[en['energy_delta'] > 0]
en_plus

               x          y       date  energy_delta  population     traffic
0      51.136027  16.981590 2019-08-20    483.227511        33.5  105.480357
1      51.152746  17.086915 2019-06-30    425.025310        29.6   53.992526
2      51.161598  17.093712 2019-07-29    352.860324        29.6   65.381921
3      51.057650  16.984109 2019-05-20    149.377661        19.9   78.341479
5      51.135540  17.133699 2019-09-21    159.645733        29.6   65.388613
...          ...        ...        ...           ...         ...         ...
99989  51.074460  16.993327 2019-03-27    115.856139        19.9   74.734631
99991  51.161679  16.856860 2019-12-20      7.968240        28.1   77.955617
99992  51.113933  16.924313 2019-03-28    318.913706        10.3  107.084519
99997  51.141183  17.042097 2019-07-12    491.084854        34.6   99.595438
99998  51.124121  16.900435 2019-01-18      9.014678        33.5   82.258003

[60238 rows x 6 columns]

In [49]:
en_minus = en[en['energy_delta'] < 0]
en_minus

               x          y       date  energy_delta  population    traffic
4      51.135540  17.133699 2019-05-31   -117.714194        29.6  65.388613
17     51.153460  16.866554 2019-07-18    -66.352178        28.1  75.341824
56     51.134316  17.062307 2019-08-22   -156.302849        34.6  86.336342
68     51.068012  16.976479 2019-02-06    -17.411577        19.9  79.786002
77     51.116919  16.941706 2019-09-18   -219.577035        33.5  98.562262
...          ...        ...        ...           ...         ...        ...
99993  51.068772  17.005919 2019-05-10   -157.587836        19.9  80.900608
99994  51.113664  17.064101 2019-12-13   -390.254284        34.6  87.238636
99995  51.160787  16.924699 2019-01-24  -1272.424285        33.5  88.518312
99996  51.156079  17.129023 2019-03-30  -1119.062505        29.6  71.552822
99999  51.150519  16.960285 2019-10-15   -531.044435        33.5  99.222730

[39762 rows x 6 columns]

In [50]:
en_minus['energy_delta'] = en_minus.energy_delta.apply(np.abs)
en_minus

C:\Users\najle\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

               x          y       date  energy_delta  population    traffic
4      51.135540  17.133699 2019-05-31    117.714194        29.6  65.388613
17     51.153460  16.866554 2019-07-18     66.352178        28.1  75.341824
56     51.134316  17.062307 2019-08-22    156.302849        34.6  86.336342
68     51.068012  16.976479 2019-02-06     17.411577        19.9  79.786002
77     51.116919  16.941706 2019-09-18    219.577035        33.5  98.562262
...          ...        ...        ...           ...         ...        ...
99993  51.068772  17.005919 2019-05-10    157.587836        19.9  80.900608
99994  51.113664  17.064101 2019-12-13    390.254284        34.6  87.238636
99995  51.160787  16.924699 2019-01-24   1272.424285        33.5  88.518312
99996  51.156079  17.129023 2019-03-30   1119.062505        29.6  71.552822
99999  51.150519  16.960285 2019-10-15    531.044435        33.5  99.222730

[39762 rows x 6 columns]